<h1>Index Events</h1>
<% @events.each do |event|%>
  <h2><%= event.name %></h3>
  <h3><%= event.location%></h3>
  <h3><%= event.date %></h3>
<% end %>
<% if user_signed_in? %>
  <%= button_to "logout", destroy_user_session_path, method: :delete  %>
<% else %>
  <%= button_to "login", new_user_session_path, method: :new  %>
<% end %>
